@{
    ViewData["Title"] = "Edit User";
}
<h1>Edit Profile</h1>
<div class="index-form">@Html.Partial("./Partials/EditInfo")</div>
<div class="index-form">@Html.Partial("./Partials/ChangePassword")</div>
<div class="index-form">@Html.Partial("./Partials/EditDescription")</div>