@model User_Dashboard.Models.ChangePassword
<form asp-controller="User" asp-action="ChangePassword" method="POST">
    <div class="form-group">
        <span asp-validation-for="Password"></span>
        <label asp-for="Password">Password:</label>
        <input class="form-control" asp-for="Password">
    </div>
    <div class="form-group">
        <span asp-validation-for="ConfirmPassword"></span>
        <label asp-for="ConfirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" asp-for="ConfirmPassword">
    </div>
    <button type="submit" class="btn btn-primary">Update Password</button>
</form>